---
import Layout from '@layouts/BaseLayout.astro'
import Section from '@components/BaseSection.astro'
import Wrapper from '@components/BaseWrapper.astro'
import Header from '@components/Header.astro'
import AboutMe from '@components/AboutMe.astro'
import Socials from '@components/Socials.astro'
import Projects from '@components/Projects.astro'
import OtherProjects from '@components/OtherProjects.astro'
---

<Layout>
	<Header />
	<main>
		<Section>
			<Wrapper>
				<AboutMe />
				<Socials />
			</Wrapper>
		</Section>
		<Projects />
		<OtherProjects />
	</main>
	<footer>
		<p>🤘 Getxo, Basque country</p>
	</footer>
</Layout>

<style lang="scss">
	footer {
		padding: 2rem 1rem;

		p {
		font-size: 1rem;

			@include mobile {
				font-size: 1.2rem;
			}
		}
	}
</style>
