---
import Layout from "@layouts/BaseLayout.astro"
---

<Layout>
	<h1>leire.</h1>
	<p>Full-stack <span>developer</span></p>
</Layout>


<style lang="scss">
	body {
		background-color: tomato;

		& h1 {
			font-family: 'Domine Bold';
			color: white;
		}
		
		& p {
			font-family: 'Roboto Regular';
		}

		& span {
			font-family: 'Roboto Bold';
		}
	}
</style>
