---
import Link from '@components/Link.astro'
---

<p>
	<span>Front-end developer</span> with 3+ years of experience currently
	working at
	<Link
		href="https://www.zorraquino.com/"
		title="Visit Zorraquino's website"
		isExternalLink
	><span>Zorraquino</span></Link>, an award-winning design consultancy. Passionate about user-focused
	interface development and strategy-driven creative processes.
</p>
<p>
	Versatile and detail-oriented self-taught programmer with prior experience in
	the architecture, research and design sectors. UX/UI and Design Systems
	enthusiast with Backend knowledge motivated to work on a team focused on good practices, continuous
	learning, feedback-driven culture and transparency.
</p>

<style lang="scss">
	p span {
		font-family: $font-body-bold;
	}
</style>
