---
interface Props {
	id?: string
	class?: string
}

const { id, class: className } = Astro.props
---

<section id={id} class:list={['section', className]}>
	<slot />
</section>

<style lang="scss">
	.section {
		&:not(:last-of-type) {
			margin-bottom: 3rem;
		}
		
		&:not(:first-of-type) {
			margin-top: 3rem;
		}
	}
</style>
