---
import ThemeToggler from './ThemeToggler.astro'
---

<header class="header">
	<ThemeToggler />
	<h1 class="header__title">
		<span class="header__headline">
			<span class="header__headline--block">Hi,</span> I'm <span class="header__headline--highlighted">Leire 👋🏼</span>
		</span>
		<span class="header__tagline">
			I <i class="header__tagline--italic">craft</i> digital experiences
		</span>
	</h1>
</header>

<style lang="scss">
	.header {
		position: relative;
		padding: 3rem 1rem 1rem 1rem;

		@include tablet {
			padding-top: 4rem;
		}

		@include desktop {
			padding-top: 6rem;
		}

		&__title {
			margin: 0;
			font-family: $font-title;
			font-size: 11vw;
			letter-spacing: 3px;

			@include tablet {
				font-size: 5rem;
			}

			@include desktop {
				font-size: clamp(5rem, 5.5vw, 7rem);
			}
		}

		&__headline {
			display: block;

			&--block {
				@include only-small-mobile {
					display: block;
				}
			}

			&--highlighted {
				color: $color-pink-dark;
			}
		}

		&__tagline {
			&--italic {
				font-family: $font-title-italic;
			}
		}
	}
</style>
