<header>
	<h1>
		leire.
		<span>I craft digital experiences</span>
	</h1>
</header>

<style lang="scss">
	h1 {
		margin-top: 0;
		font-family: $font-title;
		font-size: toRem(56px);

		& span {
			display: block;
			font-family: $font-subtitle;
			font-size: toRem(24px);
		}
	}
</style>
