---
interface Props {
	href: string
	title: string
	class?: string
	isExternalLink?: boolean
}

const { href, title, isExternalLink, class: className } = Astro.props
---

<a
	href={href}
	title={title}
	class={className}
	target={isExternalLink ? '_blank' : '_self'}
	rel={isExternalLink ? 'noopener noreferrer' : null}>
	<slot /></a>

<style lang="scss">
	a,
	a:visited {
		color: $color-dark;
	}

	.socials__link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;

		&[href='#projects'] {
			:global(svg) {
				transform: rotate(180deg);
			}
		}
	}

	// .card__link {
	// 	display: inline-block;
	// 	vertical-align: top;
	// 	line-height: 0;
	// }
</style>
