---
import ArrowIcon from '@assets/icons/arrow-diagonal-up-right.astro'
import Link from './Link.astro'
import { links } from '@data/socials.json'
---

<nav>
	<ul>
		{
			links.map(({ text, href, title }) => (
				<li>
					<Link
						href={href}
						title={title}
						isExternalLink
						class="socials__link"
					>
						{text}
						<ArrowIcon />
					</Link>
				</li>
			))
		}
	</ul>
</nav>

<style lang="scss">
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: toRem(4px);
		border-bottom: 1px solid $color-dark;

		&:not(li) {
			margin-bottom: 0.5rem;
		}

		p {
			margin: 0;
		}
	}
</style>
