---
import ArrowIcon from '@assets/icons/arrow-diagonal-up-right.astro'
import Link from './Link.astro'
---

<nav>
	<ul>
		<li>
			<Link
				href="https://www.linkedin.com/in/leire-orde%C3%B1ana/"
				title="Take a look at my Linkedin profile"
				isExternalLink
				class="socials__link"
			>
				<p>Linkedin</p>
				<ArrowIcon />
			</Link>
		</li>
		<li>
			<Link
				href="https://github.com/leireomadina"
				title="Take a look at my Github profile"
				isExternalLink
				class="socials__link"
			>
				<p>Github</p>
				<ArrowIcon />
			</Link>
		</li>
		<li>
			<Link
				href="https://www.behance.net/leireomadina"
				title="Take a look at my Behance profile"
				isExternalLink
				class="socials__link"
			>
				<p>Behance</p>
				<ArrowIcon />
			</Link>
		</li>
	</ul>
</nav>

<style lang="scss" scoped>
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: toRem(4px);
		border-bottom: 1px solid $color-dark;

		&:not(li) {
			margin-bottom: 0.5rem;
		}

		p {
			margin: 0;
		}
	}
</style>
