---
import SocialsNav from '@components/SocialsNav.astro'
import { Image } from 'astro:assets'
import myPhoto from '@assets/images/leire.jpg'
---

<article class="socials">
	<div>
		<p>Find me on:</p>
		<SocialsNav />
	</div>
	<Image src={myPhoto} alt="My photo" />
</article>

<style lang="scss" scoped>
	.socials {
		display: flex;
		gap: 1rem;
		font-size: 1rem;

		@include mobile {
			font-size: 1.2rem;
		}

		div {
			flex: 1 0 30%;

			@include desktop {
				flex: 1 0 40%;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
</style>
