---
import SocialsNav from '@components/SocialsNav.astro'
import { Image } from 'astro:assets'
import myPhoto from '@assets/images/leire.jpg'
---

<article class="socials">
	<div class="socials__nav-container">
		<SocialsNav />
	</div>
	<Image
		src={myPhoto}
		alt="Me with a graffiti wall in the background"
		class="socials__image"
	/>
</article>

<style lang="scss">
	.socials {
		margin-top: 1.5rem;

		&__nav-container {
			@include tablet {
				flex: 1 0 calc(100% - 22rem - 1.5rem);
			}
		}

		&__image {
			width: 100%;
			height: auto;
			margin-top: 1.5rem;

			@supports (animation-timeline: view()) {
				& {
					scale: 0.8;
					opacity: 0;
					animation: fade-in ease-out forwards;
					animation-timeline: view();
					animation-range: 0 300px;
				}
			}
		}
	}

	@keyframes fade-in {
		50% {
			scale: 0.9;
			opacity: 0.8;
		}
		100% {
			scale: 1;
			opacity: 1;
		}
	}
</style>
