---
import SocialsNav from '@components/SocialsNav.astro'
import { Image } from 'astro:assets'
import myPhoto from '@assets/images/leire.jpg'
---

<article class="socials">
	<div class="socials__nav-container">
		<SocialsNav />
	</div>
	<Image src={myPhoto} alt="My photo" class="socials__image"/>
</article>

<style lang="scss" scoped>
	.socials {
		margin-top: 1.5rem;

		@include tablet {
			display: flex;
			gap: 1rem;
		}

		&__nav-container {
			max-width: toRem(400px);
			
			@include tablet {
				flex: 1 0 calc(100% - toRem(400px) - 1rem);
			}
		}

		&__image {
			width: 100%;
			height: auto;
			max-width: toRem(400px);
			margin-top: 1.5rem;

			@include tablet {
				max-width: toRem(320px);
			}
		}
	}
</style>
