---
interface Props {
	text: string
}

const { text } = Astro.props
---

<div class="tag">
	<p class="tag__text">{text}</p>
</div>

<style lang="scss">
	.tag {

		&__text {
			margin: 0;
			font-size: toRem(12px);
		}
	}
</style>
