---
interface Props {
	text: string
}

const { text } = Astro.props
---

<div class="tag">
	<p class="tag__text">{text}</p>
</div>

<style lang="scss">
	.tag {
		display: inline-flex;
		padding: toRem(4px) toRem(8px);
		background-color: $color-light;
		border: 1px solid $color-dark;
		border-radius: 8px;

		&__text {
			margin: 0;
			font-size: toRem(12px);
		}
	}
</style>
