---
import '../styles/globals.scss'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Leire Ordeñana Madina | Front-end developer</title>
		<meta charset="utf-8" />
		<meta
			name="description"
			content="Front-end developer with more than four years of experience specialized in UI development and design with JavaScript, Vue, CSS, SASS, and HTML."
		/>
		<meta name="author" content="Leire Ordeñana Madina" />
		<meta
			name="keywords"
			content="web developer, developer, web development, fullstack, fullstack developer, frontend, frontend developer, portfolio, web, ui, ux ui, web design, bilbao"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: $font-body;
		font-size: 1.5rem;

		@include tablet {
			margin: 0 auto;
			padding: 1.5rem;
			font-size: 2rem;
		}

		@include desktop {
			padding: 3rem;
			font-size: clamp(2rem, 4vw, 3rem);
		}
	}
</style>
