---
import '../styles/globals.scss'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Leire Ordeñana Madina | Full-stack developer</title>
		<meta charset="utf-8" />
		<meta
			name="description"
			content="Full-stack developer with more than two years of experience specialized in UI development with JavaScript, CSS, SASS, and HTML."
		/>
		<meta name="author" content="Leire Ordeñana Madina" />
		<meta
			name="keywords"
			content="web developer, developer, web development, fullstack, fullstack developer, frontend, frontend developer, portfolio, web, ui, ux ui, web design, bilbao"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: $font-body;
		font-size: 1.2rem;

		@include tablet {
			max-width: toRem(700px);
			margin: 0 auto;
			font-size: 1.3rem;
		}

		@include desktop {
			max-width: toRem(800px);
			font-size: 1.5rem;
		}
	}
</style>
