@use 'variables';

html {
	background-color: #f2f2f2;
	color: #292829;
	transition: 0.25s ease-out all;

	a,
	a:visited {
		color: #292829;
	}
}

html.dark {
	background-color: #292829;
	color: #f2f2f2;
	transition: 0.25s ease-out all;

	a,
	a:visited {
		color: #9bdd9b;
	}

	.header .header__headline .header__headline--highlighted {
		color: #fec8c8;
	}

	.intro .intro--highlighted,
	.info .info__content {
		color: #fec8c8;
	}

	.socials svg,
	.socials svg path,
	.projects svg,
	.projects svg path {
		stroke: #9bdd9b;
	}

	.experience ul:first-child {
		border-top: 1px solid #ccc;
	}

	.socials li {
		border-bottom: 2px solid #9bdd9b;
	}

	.card {
		border-bottom: 1px solid #ccc;
	}

	.experience .card__title {
		color: #fec8c8;
	}
}
