@use 'variables';

html {
	background-color: #F2F2F2;
	color: #292829;
	transition: 0.25s ease-out all;

	a,
	a:visited {
		color: #292829;
	}
}

html.dark {
  background-color: #292829;
	color: #F2F2F2;
	transition: 0.25s ease-out all;

	a,
	a:visited {
		color: #87CC87;
	}

	.intro .wrapper > p {
		a span:last-of-type {
			color: #87CC87;
		}
		span {
			color: #FEC8C8;
		}
	}

	.socials svg,
	.socials svg path,
	.projects svg,
	.projects svg path {
		stroke: #87CC87;
	}

	.projects ul:first-child {
		border-top: 1px solid #F2F2F2;
	}

	.socials li,
	.card {
		border-bottom: 1px solid #F2F2F2;
	}

	.projects .card__title {
		color: #FEC8C8;
	}
}