/**
 * Typography
 * =================================
 *  - Playfair Display Bold
 *  - Playfair Display SemiBold Italic
 *  - Inter SemiBold
 *  - Inter Regular
 */

@font-face {
	font-family: 'Playfair Display Bold';
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SemiBold Italic';
	src: local('Playfair Display SemiBold Italic'), local('PlayfairDisplay-SemiBold-Italic'),
		url('/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Inter SemiBold';
	src: local('Inter SemiBold'), local('Inter-SemiBold'),
		url('/fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Regular';
	src: local('Inter Regular'), local('Inter-Regular'),
		url('/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
