/**
 * Variables
 * =================================
 * - Typography
 * - Colors
 *    - Background
 *    - Neutral
 */

// TYPOGRAPHY
$font-title: 'Playfair Display SemiBold Italic';
$font-subtitle: 'Playfair Display Bold';
$font-body: 'Inter Regular';
$font-body-bold: 'Inter SemiBold';

// COLORS
// Background
$color-green: #87cc87;
$color-pink-light: #fec8c8;
$color-pink-dark: #da93b6;
$color-light: #f2f2f2;
$color-dark: #292829;
// Neutral
$color-black: #000;
$color-white: #fff;
$color-grey: #878787;
$color-light-grey: #bcbcbc;
