/**
 * Variables
 * =================================
 * - Typography
 * - Colors
 *    - Background
 *    - Neutral
 */

// TYPOGRAPHY
$font-title: 'Playfair Display SemiBold Italic';
$font-subtitle: 'Playfair Display Bold';
$font-body: 'Inter Regular';
$font-body-bold: 'Inter SemiBold';

// COLORS
// Background
$color-green: #87CC87;
$color-pink-light: #FEC8C8;
$color-pink-dark: #DA93B6;
$color-light: #F2F2F2;
$color-dark: #292829;
// Neutral
$color-black: #000;
$color-white: #FFF;